bootstrap-flask
email-validator
Flask
flask-babel<3
flask-login
flask-mail
flask-mdeditor
flask-migrate
flask-moment
flask-sqlalchemy
flask-wtf
mistune
pelican[markdown]
pydantic
Pygments
pyjwt
python-dotenv
python-slugify
