{% extends "base.html" %}

{% block title%}{{ author.name }}{% endblock %}

{% block content %}
<h1>{{ author.name }}</h1>


<p>{{ author.name }} has <em>{{ author.articles|length }} articles</em>.</p>
{# TODO: create ul>li block for displaying articles #}
{% if author.articles %}
{% for article in author.articles|sort(attribute="created_on") %}
<ul>
  <li>
    {{ article.title }} |
    <em>on {{ article.created_at|datetime_format }}</em>
  </li>
</ul>
{% endfor %}
{% endif %}

<a href="{{ url_for('read_authors') }}">Back</a>
{% endblock %}
