{% extends "base.html" %}

<p>Dear {{ user.username }},</p>

<p>
  To reset your password, click on the  below.
  <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
    link
  </a>
</p>

<p>
  If the link above doesn't work, try copying and pasting the URL below into
  your browser's address bar:

  <ul>
    <li class="fw-normal">
      {{ url_for("auth.reset_password", token=token, _external=True) }}
    </li>
  </ul>
</p>

<p>If you didn't request a password rest, then you can safely ignore this email.</p>

<p>- The Albatross Team</p>
