{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <h1>Your Articles</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      {% if articles %}
      {% for article in articles %}
      <div class="list-group">
        <ul>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ url_for('articles.article', slug=article.slug) }}">
              {{ article.title }}
            </a>
          </li>
        </ul>
      </div>

      {% endfor %}
    {% else %}

    {% endif %}
    </div>
  </div>
</div>


{% endblock %}
