{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% include "_highlight.html" %}
{% endblock %}

{% block content %}

<div class="row">
  <article class="col">
    <div class="bs-component">
      <h1>{{ article.title }}</h1>
      <ul class="list-unstyled text-muted small">
        <li>
            Created on {{ article.created_at|datetime_format("%B %d, %Y @ %-I:%M%p") }}
            {% if article.updated_at %}
            &
            Updated on {{ article.updated_at|datetime_format("%B %d, %Y @ %-I:%M%p") }}
            {% endif %}
        </li>
        <li>
            Status:
            {% if article.is_draft %}
              <span class="me-2 text-danger">Draft</span>
            {% else %}
              <span class="me-2 text-success">Published</span>
            {% endif %}
        </li>
      </ul>
      <p>{{ article.content_html|safe }}</p>
      {% if article.data %}
      <small class="text-muted">
        Keywords:
        {% for data in article.data %}
          {% if data.key == "keyword" %}
            {{ data.value }}
          {% endif %}
        {% endfor %}
      </small>
      {% endif %}
      <br>
      <a href="{{ url_for('articles.edit_article', slug=article.slug) }}" class="btn btn-primary">
        Edit
      </a>
    </div>
  </article>
</div>
{% endblock %}
