<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Albatross</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('main.index') }}">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <div class="d-flex">
        {% if current_user.is_authenticated %}
          <a class="btn-primary" href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
          <a class="btn btn-light me-2" href="{{ url_for('auth.login') }}">Login</a>
          <a class="btn btn-light" href="{{ url_for('auth.register') }}">Sign-up</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav> -->


<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
    <a href="{{ url_for('main.index') }}"
       class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none site-name fs-1">
      Albatross
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 nav-pills">
      <li><a href="{{ url_for('main.index') }}" class="nav-link px-2 active">Home</a></li>
      <li><a href="{{ url_for('articles.articles') }}" class="nav-link">Articles</a></li>
      <li><a href="#" class="nav-link">Pricing</a></li>
      <li><a href="#" class="nav-link">FAQs</a></li>
      <li><a href="#" class="nav-link">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-primary me-2">Logout</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}" class="btn btn-outline-primary me-2">Login</a>
        <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Sign-up</a>
      {% endif %}
    </div>
  </header>
</div>
