{% extends 'base.html' %}

{% block content %}
<!-- Jumbotron section -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">Welcome to Albatross</h1>
    <p class="lead">Your go-to platform for all your needs</p>
    <a href="#" class="btn btn-primary">Get Started</a>
  </div>
</section>

<!-- Features section -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <img src="https://picsum.photos/500" class="card-img-top" alt="Feature 1">
          <div class="card-body">
            <h5 class="card-title">Feature 1</h5>
            <p class="card-text">This is a feature description. It can be a brief overview of what this feature does.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="https://picsum.photos/500" class="card-img-top" alt="Feature 2">
          <div class="card-body">
            <h5 class="card-title">Feature 2</h5>
            <p class="card-text">This is a feature description. It can be a brief overview of what this feature does.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img src="https://picsum.photos/500" class="card-img-top" alt="Feature 3">
          <div class="card-body">
            <h5 class="card-title">Feature 3</h5>
            <p class="card-text">This is a feature description. It can be a brief overview of what this feature does.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action section -->
<section class="bg-primary text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="display-5">Ready to get started?</h2>
        <p class="lead">Sign up now to start using Albatross and experience the benefits.</p>
        <a href="#" class="btn btn-lg btn-light">Sign up</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
